/*For menu bar*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 16px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(212, 191, 119);
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 2.2em;
    color: azure;
    user-select: none;
    font-weight: 700;
    text-shadow: 0px 0px 8px #00000057;
}

.title {
    font-size: 2.8em;
    user-select: none;
    font-weight: 700;
    text-shadow: 0px 0px 8px #00000057;
}

.navigation a {
    font-size:  1.8em;
    color: aliceblue;
    text-decoration: none;
    font-weight: 580;
    margin-left: 40px;
    position:relative;
    text-shadow: 0px 0px 8px #00000057;
}

.navigation h4 {
    position: relative;
    font-size:  1.0em;
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
    margin-left: 40px;
    text-shadow: 0px 0px 8px #00000057;
}

.navigation .btnLogin-popup {
    width:  95px;
    height: 45px;
    background: transparent;
    border: 1px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 900;
    margin-left: 40px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.2);
    transition: .5s;
    text-shadow: 0px 0px 8px #0000000e;
}

.navigation .btnLogin-popup:hover {
    background: rgba(255, 255, 255, 0.5);
    color: #d4bf77;
}

.navigation a::after {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}
/*For menu bar*/

body {
    background: linear-gradient(161deg, rgba(255, 253, 253, 0.00) -4.34%, rgba(212, 191, 119, 0.40) 90.87%), #FFF;
    /* background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px; */

    z-index: 1;
  }

.popup {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    display: none; /* Hidden by default */
    border-radius: 10px;
}

.popup-content {
    text-align: center;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.hidden {
    display: none;
}

/* Remove default list styling */
.popup-content ul {
    list-style-type: none;
    padding: 0;
}

.popup-content ul li {
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

.containers {
    display: flex;
    flex-direction: column; /* Stack badges vertically */
    margin: 0 auto;
    max-width: 960px; /* Maximum width for the entire row */
    padding: 10px;
}

.question-badge {
    width: 100%; /* Full width of the container */
    margin: 10px 0; /* Space between badges */
    padding: 20px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: linear-gradient(145deg, #f3f3f3, #ffffff); /* Gradient background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically in the center */
    transition: all 0.3s ease-in-out; /* Smooth hover transition */
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color */
}

.badge-text {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    text-align: left; /* Align text to the left */
    flex-grow: 1; /* Allow text to grow and fill available space */
}

.results-button {
    text-decoration: none; /* Remove underline */
    font-size: 14px;
    padding: 6px 12px; /* Add padding for the button */
    color: #ffffff; /* White color for the button text */
    background-color: #d4bf77; /* Blue background for the button */
    border-radius: 5px; /* Rounded corners */
    margin-left: 10px;
    flex-shrink: 0; /* Prevent shrinking */
    transition: .5s;
}

.results-button:hover {
    background-color: #b39b00; /* Darken the button on hover */
}

.badge-arrow {
    font-size: 24px;
    color: #333;
    margin-left: 10px; /* Ensure space between button and arrow */
    flex-shrink: 0; /* Prevent shrinking */
}

.question-badge.closed {
    opacity: 0.5; /* Reduce opacity for closed questions */
}

.question-badge:hover {
    transform: scale(1.05);
    background: linear-gradient(145deg, #ffffff, #f3f3f3); /* Reverse the gradient on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Stronger shadow on hover */
}

.navigation h4 a {
    font-size: 1.0em;  /* Adjust font size */
    color: aliceblue;
    text-decoration: none;
    font-weight: 580;
    text-shadow: 0px 0px 8px #00000057;
    margin-left: 10px;
}

/* General Body Style for Login */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(161deg, rgba(255, 253, 253, 0.00) -4.34%, rgba(212, 191, 119, 0.40) 90.87%), #FFF;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Container for the form */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 687px;
    padding: 10px;
}

/* Heading for the Login Form */
h2 {
    font-size: 2.7em;
    font-weight: 780;
    color: #d4bf77;
    text-shadow: 0 0 8px #00000029;
    margin-bottom: 30px;
}

/* Form styles */
.change_username_form {
    background-color: #f8f8f8;
    padding: 20px;
    padding-right: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

.change_username_form p {
    margin: 5px 0;
    font-size: 1.1em;
}

.change_username_form button {
    background-color: #d4bf77;
    color: #fff;
    font-size: 1.0em;
    border: none;
    padding: 5px;
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-shadow: 0 0 5px #000000;
    margin-top: 5px;
}

.change_username_form button:hover {
    background-color: #b39b00;
}

/* Input Fields Styling */
.change_username_form input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1em;
    transition: border 0.3s ease;
}

.change_username_form input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
    border-color: #d4bf77;
    outline: none;
}

/* Error messages */
.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

/* Add a subtle border around form */
.change_username_form {
    border: 1px solid #d4bf77;
    border-radius: 10px;
}

.signup-link {
    margin-top: 0px;
}